

<div class="lecture1">
    <div class="column_date">
        
        Class # 1 <br> 
        <!-- Mon, Feb. 23 --> 
        
        
    </div>
    
    <div class="column_materials">
        
        Introduction to the class: syllabus. <br>
        Review of advanced Java topics. 
        
        
    </div>
    
    <div class="column_assign">
        
        Read chapters 1 and 2 in GTG. <br><br>
        
        Chapter 1 problems to work on (not submitted): 
        3, 4, 7, 8, 9, 15, 19, 21, 23, 25, 27, 29 (and more if you can). <br>
        Chapter 2 problems to work on (not submitted): 
        1, 2, 7, 9, 10, 11, 12, 13, 17, 20, 21, 23, 25, 29, 30, 31, 32, 34, 35
        
        
    </div>
    
</div>
