
<div class="recitation">
    <div class="column_date">
        
        Recitation # 1 <br> 
        Thu, Feb. 26 
        
        
    </div>
    
    <div class="column_materials">
        
        Advanced Java topics: inheritance, polymorphism, 
        <code>super</code> keyword. 
        
        
    </div>
    
    <div class="column_assign">
        
        Project 1 posted. <br>
        
        Create GitHub account and complete the online form. 
        
        
    </div>
    
</div>
