/* Run 
 *    lessc styles.less styles.css
 * to generate the css file.
 */
/* Color schemes website:
 *     http://colorschemedesigner.com  
 */
/*
Color scheme: 
*/
html {
  margin: 0;
  height: 100%;
}
body {
  margin: 0em;
  padding: 0px;
  border: 0px;
}
.hidden {
  display: none;
}
p {
  margin: 0px;
  padding: 2px;
  color: #000000;
}
a {
  color: #000033;
}
a:hover {
  text-decoration: underline;
}
h1 {
  margin: 1em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.3em;
  font-weight: bold;
  color: #4d4d4d;
}
h2 {
  margin: 0.75em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.2em;
  font-weight: bold;
  color: #4d4d4d;
}
h3 {
  margin: 0.5em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.1em;
  font-weight: bold;
  color: #4d4d4d;
}
h4 {
  margin: 0.5em 1em 0.25em 0em;
  padding: 2px;
  font-size: 1.0em;
  font-weight: bold;
  color: #4d4d4d;
}
/******************************************/
header {
  background: #e6e6e6;
  padding: 2em 1em 2em 1em;
  margin: 0;
  color: #4d4d4d;
}
header h1 {
  margin: 0em;
  padding: 0px;
  font-size: 2em;
  font-weight: bold;
  color: #4d4d4d;
}
/******************************************/
aside {
  background: #e6e6e6;
  width: 20%;
  float: right;
  padding: 0.25em 0.25em 0.25em 0.5em;
  font-size: 0.8em;
}
aside h1 {
  margin: 0.25em 0.25em 0em 0em;
}
@media (max-width: 700px), (max-device-width: 720px) {
  aside {
    display: none;
  }
}
/******************************************/
main {
  background: #ffffff;
  padding: 1em;
}
main hr {
  margin: 0;
  padding: 0;
  color: #4d4d4d;
  background-color: #4d4d4d;
  height: 3px;
  width: 400px;
  text-align: left;
}
main p {
  margin: 0px;
  padding: 2px;
  color: #000000;
}
main p.hang {
  padding: 2px 2px 2px 40px;
  text-indent: -32px;
}
main .emph {
  color: #4d4d4d;
  font-weight: bold;
  font-variant: small-caps;
}
main .name {
  color: #4d4d4d;
  font-variant: small-caps;
}
td {
  padding: 1em;
  vertical-align: top;
}
/******************************************/
footer {
  clear: both;
  margin: 0;
  padding: 0;
  background: #e6e6e6;
  font-size: 0.8em;
  overflow: hidden;
}
.footerlinks {
  margin: 0;
  padding: 0.8em 0 0.8em 0.8em;
  float: left;
  width: 56%;
}
.license {
  margin: 0;
  padding: 0;
  float: right;
  width: 38%;
}
/******************************************/
/* from Joe */
code {
  margin: 0px;
  padding: 0px;
  font-size: 1.25em;
}
figure {
  display: inline-block;
}
.highlight > pre {
  margin: 0px;
  width: auto;
  padding: 0.5em;
  color: #AAAAAA;
}
.highlight {
  margin: 0px;
  padding: 0.5em;
  background-color: #d6d6d6;
}
.bash {
  color: #AAAAAA;
}
.lineno {
  color: #CD7F32;
}
.highlight .hll {
  background-color: #49483e;
}
.highlight {
  background: #272822;
  color: #f8f8f2;
}
/*.highlight .c { color: #75715e }*/
/* Comment */
.highlight .c {
  color: #a8a48f;
}
/* Comment */
.highlight .err {
  color: #960050;
  background-color: #1e0010;
}
/* Error */
.highlight .k {
  color: #66d9ef;
}
/* Keyword */
.highlight .l {
  color: #ae81ff;
}
/* Literal */
.highlight .n {
  color: #f8f8f2;
}
/* Name */
.highlight .o {
  color: #f92672;
}
/* Operator */
.highlight .p {
  color: #f8f8f2;
}
/* Punctuation */
.highlight .cm {
  color: #75715e;
}
/* Comment.Multiline */
.highlight .cp {
  color: #75715e;
}
/* Comment.Preproc */
.highlight .c1 {
  color: #75715e;
}
/* Comment.Single */
.highlight .cs {
  color: #75715e;
}
/* Comment.Special */
.highlight .ge {
  font-style: italic;
}
/* Generic.Emph */
.highlight .gs {
  font-weight: bold;
}
/* Generic.Strong */
.highlight .kc {
  color: #66d9ef;
}
/* Keyword.Constant */
.highlight .kd {
  color: #66d9ef;
}
/* Keyword.Declaration */
.highlight .kn {
  color: #f92672;
}
/* Keyword.Namespace */
.highlight .kp {
  color: #66d9ef;
}
/* Keyword.Pseudo */
.highlight .kr {
  color: #66d9ef;
}
/* Keyword.Reserved */
.highlight .kt {
  color: #66d9ef;
}
/* Keyword.Type */
.highlight .ld {
  color: #e6db74;
}
/* Literal.Date */
.highlight .m {
  color: #ae81ff;
}
/* Literal.Number */
.highlight .s {
  color: #e6db74;
}
/* Literal.String */
.highlight .na {
  color: #a6e22e;
}
/* Name.Attribute */
.highlight .nb {
  color: #f8f8f2;
}
/* Name.Builtin */
.highlight .nc {
  color: #a6e22e;
}
/* Name.Class */
.highlight .no {
  color: #66d9ef;
}
/* Name.Constant */
.highlight .nd {
  color: #a6e22e;
}
/* Name.Decorator */
.highlight .ni {
  color: #f8f8f2;
}
/* Name.Entity */
.highlight .ne {
  color: #a6e22e;
}
/* Name.Exception */
.highlight .nf {
  color: #a6e22e;
}
/* Name.Function */
.highlight .nl {
  color: #f8f8f2;
}
/* Name.Label */
.highlight .nn {
  color: #f8f8f2;
}
/* Name.Namespace */
.highlight .nx {
  color: #a6e22e;
}
/* Name.Other */
.highlight .py {
  color: #f8f8f2;
}
/* Name.Property */
.highlight .nt {
  color: #f92672;
}
/* Name.Tag */
.highlight .nv {
  color: #f8f8f2;
}
/* Name.Variable */
.highlight .ow {
  color: #f92672;
}
/* Operator.Word */
.highlight .w {
  color: #f8f8f2;
}
/* Text.Whitespace */
.highlight .mf {
  color: #ae81ff;
}
/* Literal.Number.Float */
.highlight .mh {
  color: #ae81ff;
}
/* Literal.Number.Hex */
.highlight .mi {
  color: #ae81ff;
}
/* Literal.Number.Integer */
.highlight .mo {
  color: #ae81ff;
}
/* Literal.Number.Oct */
.highlight .sb {
  color: #e6db74;
}
/* Literal.String.Backtick */
.highlight .sc {
  color: #e6db74;
}
/* Literal.String.Char */
.highlight .sd {
  color: #e6db74;
}
/* Literal.String.Doc */
.highlight .s2 {
  color: #e6db74;
}
/* Literal.String.Double */
.highlight .se {
  color: #ae81ff;
}
/* Literal.String.Escape */
.highlight .sh {
  color: #e6db74;
}
/* Literal.String.Heredoc */
.highlight .si {
  color: #e6db74;
}
/* Literal.String.Interpol */
.highlight .sx {
  color: #e6db74;
}
/* Literal.String.Other */
.highlight .sr {
  color: #e6db74;
}
/* Literal.String.Regex */
.highlight .s1 {
  color: #e6db74;
}
/* Literal.String.Single */
.highlight .ss {
  color: #e6db74;
}
/* Literal.String.Symbol */
.highlight .bp {
  color: #f8f8f2;
}
/* Name.Builtin.Pseudo */
.highlight .vc {
  color: #f8f8f2;
}
/* Name.Variable.Class */
.highlight .vg {
  color: #f8f8f2;
}
/* Name.Variable.Global */
.highlight .vi {
  color: #f8f8f2;
}
/* Name.Variable.Instance */
.highlight .il {
  color: #ae81ff;
}
/* Literal.Number.Integer.Long */
